<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head>
	<th:block th:include="include :: header('生产线列表')" />
</head>
<link href="/ajax/libs/jquery-layout/jquery.layout-latest.css"
	th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}"
	rel="stylesheet" />
<link href="/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css"
	th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}"
	rel="stylesheet" />

<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="beltline-form">
					<div class="select-list">
						<ul>
							<li>生产线名称：<input type="text" name="beltlineName" />
							</li>
							<li>生产线状态：<select name="status"
								th:with="type=${@dict.getType('sys_normal_disable')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm"
								onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add(1)"
					shiro:hasPermission="basic:beltline:add"> <i class="fa fa-plus"></i>
					新增
				</a>
				<!--                 <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="basic:beltline:edit"> -->
				<!-- 		            <i class="fa fa-edit"></i> 修改 -->
				<!-- 		        </a> -->
				<a class="btn btn-info" id="expandAllBtn"> <i
					class="fa fa-exchange"></i> 展开/折叠
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-tree-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
	var addFlag = [[${@permission.hasPermi('basic:beltline:add')}]];
	var editFlag = [[${@permission.hasPermi('basic:beltline:edit')}]];
	var removeFlag = [[${@permission.hasPermi('basic:beltline:remove')}]];
	var prefix = ctx + "basic/beltline"

	$(function() {
	    var options = {
		    code: "lineId",
		    parentCode: "parentId",
		    uniqueId: "lineId",
	        url: prefix + "/list",
	        createUrl: prefix + "/add/{id}",
	        updateUrl: prefix + "/edit/{id}",
	        removeUrl: prefix + "/remove/{id}",
	        modalName: "生产线",
	        columns: [{
                field: 'selectItem', 
                radio: true
             },
             {
                 field : 'lineId', 
                 title : '生产线编号'
             },
             {
                 field : 'lineName', 
                 title : '名称'
             },
             {
                 field : 'orderNum', 
                 title : '显示顺序'
             },
             {
                 field : 'property', 
                 title : '说明'
             },
	        {
	            field: 'status',
	            title: '状态',
	            align: "left",
                formatter: function(value, row, index) {
                	//alert(row.status);
					var datas = [[${@dict.getType('tbl_status')}]];
        			return $.table.selectDictLabel(datas, row.status);
                }
	        },
	        {
	            title: '操作',
	            align: 'left',
	            formatter: function(value, row, index) {
	                if (row.parentId != 0) {
	                    var actions = [];
// 	                    alert(row.lineName);
						actions.push('<a class="btn btn-success btn-xs " href="#" onclick="addToOrder(\'' + row.lineId  +'\',\'' + row.lineName +'\')"><i class="fa fa-plus"></i>选择</a>');
	                    return actions.join('');
	                } else {
	                    return "";
	                }
	            }
	        }]
	    };
	    $.treeTable.init(options);
	});
		
    function addToOrder(lineid,linename){
//    	window.parent.$("#line").val(lineid+":["+linename+"]");
    	window.parent.$("#line").val(lineid);
    	//window.parent.$("#lineId").val(lineid);
    	//window.parent.$("#totalityId").val(id);
    	$.modal.close(); 
    }
    </script>
</body>
</html>