<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增合同')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-contract-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">合同名称：</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" type="text" >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">合同编号：</label>
				<div class="col-sm-8">
					<input id="codeid" name="codeid" class="form-control" type="text" placeholder = "YX+2位年号+5位流水号，示例：YX18-00001">
				</div>
			</div>
 			<div class="form-group">
				<label class="col-sm-3 control-label">买方：</label>
				<div class="col-sm-8">
					<select class="form-control" name="firstparty" id="firstparty">
					     <option text=""></option>
						 <option th:each="customer : ${customerList}" th:value="${customer.fullname}" th:id="${customer.fullname+'|'+customer.legalperson+'|'+customer.telephone+'|'+customer.fax+'|'+customer.manager+'|'+customer.tax+'|'+customer.accountid+'|'+customer.bank+'|'+customer.zipcode+'|'+customer.address}"
							th:text="${customer.fullname}"></option> 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">卖方：</label>
				<div class="col-sm-8">
					<select class="form-control" name="secondparty" id="secondparty">
					     <option text=""></option>
						 <option th:each="customer : ${customerList}" th:value="${customer.fullname}" th:id="${customer.fullname+'|'+customer.legalperson+'|'+customer.telephone+'|'+customer.fax+'|'+customer.manager+'|'+customer.tax+'|'+customer.accountid+'|'+customer.bank+'|'+customer.zipcode+'|'+customer.address}"
							th:text="${customer.fullname}"></option> 
					</select>
				</div>
			</div>
 
            <div class="form-group">    
                <label class="col-sm-3 control-label">签订时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="optime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">签订地点：</label>
                <div class="col-sm-8">
                    <input name="position" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
				<label class="col-sm-3 control-label">合同类型:</label>
				<div class="col-sm-8">
					<select name="type" class="form-control m-b" th:with="type=${@dict.getType('tbl_contracttype')}">
				        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
				    </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">合同类别:</label>
				<div class="col-sm-8">
					<select name="catagory" class="form-control m-b" th:with="type=${@dict.getType('tbl_contractclass')}">
				        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
				    </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态:</label>
				<div class="col-sm-8">
					<select name="status" class="form-control m-b" th:with="type=${@dict.getType('tbl_contractstatus')}">
				        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
				    </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">买方地址：</label>
				<div class="col-sm-8">
					<input id="firstaddress" name="firstaddress" class="form-control" readonly="readonly"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">卖方地址：</label>
				<div class="col-sm-8">
					<input id="secondaddress" name="secondaddress" class="form-control" readonly="readonly"
						type="text">
				</div>
			</div>
			<div class="form-group">    
                <label class="col-sm-3 control-label">接收人：</label>
                <div class="col-sm-8">
                    <input name="receiver" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">收货电话：</label>
                <div class="col-sm-8">
                    <input name="recphone" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">收货地址：</label>
                <div class="col-sm-8">
                    <input name="recaddress" class="form-control" type="text">
                </div>
            </div>
<!--             <div class="form-group">     -->
<!--                 <label class="col-sm-3 control-label">收货名称：</label> -->
<!--                 <div class="col-sm-8"> -->
<!--                     <input name="recname" class="form-control" type="text"> -->
<!--                 </div> -->
<!--             </div> -->
            <div class="form-group">    
                <label class="col-sm-3 control-label">甲方法人：</label>
                <div class="col-sm-8">
                    <input name="firstaddress" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">乙方法人：</label>
                <div class="col-sm-8">
                    <input name="secondaddress" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产品编码：</label>
                <div class="col-sm-8">
                    <input name="productid" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">规格：</label>
                <div class="col-sm-8">
                    <input name="standard" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数量：</label>
                <div class="col-sm-8">
                    <input name="cnt" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">单位：</label>
                <div class="col-sm-8">
					<select name="unit" class="form-control m-b" th:with="type=${@dict.getType('tbl_weight_unit')}">
				        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
				    </select>
                </div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">单价（元/千克）：</label>
				<div class="col-sm-8">
					<input id="price" name="price" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">总价（元）：</label>
				<div class="col-sm-8">
					<input id="amount" name="amount" class="form-control" type="text" readonly = "readonly">
				</div>
			</div>
<!--             <div class="form-group">     -->
<!--                 <label class="col-sm-3 control-label">质量标准：</label> -->
<!--                 <div class="col-sm-8"> -->
<!--                     <input name="quality" class="form-control" type="text"> -->
<!--                 </div> -->
<!--             </div> -->
            <div class="form-group">    
                <label class="col-sm-3 control-label">履行地点及方式：</label>
                <div class="col-sm-8">
                    <input name="perform" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">验收标准及异议期限：</label>
                <div class="col-sm-8">
                    <input name="confirm" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">汇款条件：</label>
                <div class="col-sm-8">
                    <input name="payterm" class="form-control" type="text">
                </div>
            </div>
 			<div class="form-group">
				<label class="col-sm-3 control-label">买方法人：</label>
				<div class="col-sm-8">
					<input id="legal1" name="legal1" class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">买方委托人：</label>
				<div class="col-sm-8">
					<input id="client" name="client" class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">买方开户行：</label>
				<div class="col-sm-8">
					<input id="bankname1" name="bankname1" class="form-control"
						type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">买方电话：</label>
				<div class="col-sm-8">
					<input id="phone1" name="phone1" readonly="readonly" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">买方传真：</label>
				<div class="col-sm-8">
					<input id="fax1" name="fax1" class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">买方银行账号：</label>
				<div class="col-sm-8">
					<input id="account1" name="account1" class="form-control" readonly="readonly"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">买方税号：</label>
				<div class="col-sm-8">
					<input id="taxcode1" name="taxcode1" class="form-control" readonly="readonly"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">买方邮编：</label>
				<div class="col-sm-8">
					<input id="zipcode1" name="zipcode1" class="form-control"
						type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">卖方法人：</label>
				<div class="col-sm-8">
					<input id="legal2" name="legal2" class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">卖方委托人：</label>
				<div class="col-sm-8">
					<input id="column32" name="column32" class="form-control"
						type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">卖方开户行：</label>
				<div class="col-sm-8">
					<input id="bankname2" name="bankname2" class="form-control"
						type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">卖方电话：</label>
				<div class="col-sm-8">
					<input id="phone2" name="phone2" readonly="readonly" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">卖方传真：</label>
				<div class="col-sm-8">
					<input id="fax2" name="fax2" class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">卖方银行账号：</label>
				<div class="col-sm-8">
					<input id="account2" name="account2" class="form-control" readonly="readonly"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">卖方税号：</label>
				<div class="col-sm-8">
					<input id="taxcode2" name="taxcode2" class="form-control" readonly="readonly"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">卖方邮编：</label>
				<div class="col-sm-8">
					<input id="zipcode2" name="zipcode2" class="form-control" readonly="readonly"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">其他：</label>
				<div class="col-sm-8">
					<input id="other" name="other" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">合同文件：</label>
				<div class="col-sm-8">
					<input id="filename" name="filename" class="form-control"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
				<textarea id="remark" name="remark" class="form-control" rows="5"></textarea>
					<!-- <input id="remark" name="remark" class="form-control" type="text"> -->
				</div>
			</div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        $("input[name='optime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        
		 $("select#firstparty").change(function() {
			 var theString = $('#firstparty option:selected').attr('id');//选中的文本
			 var arr=theString.split("|");
			 if(arr[0] == $('#secondparty option:selected').val()){
				 alert('甲方与乙方不能相同');
			 document.getElementById("firstaddress").value = '';//甲方地址
			 document.getElementById("legal1").value = '';//甲方法人
			 document.getElementById("client").value = '';//甲方委托人
			 
			 document.getElementById("phone1").value = '';//甲方电话
			 document.getElementById("fax1").value = '';//甲方传真
			  
			 document.getElementById("taxcode1").value = '';//甲方税号
			 document.getElementById("account1").value = '';//甲方账号
			 document.getElementById("bankname1").value = '';//甲方开户行
			 document.getElementById("zipcode1").value = '';//甲方邮编
				 return
			 }
			 $('#firstparty option:selected').text(arr[0]);
			 document.getElementById("firstaddress").value = arr[9];//甲方地址
			 document.getElementById("legal1").value = arr[1];//甲方法人
			 document.getElementById("client").value = arr[4];//甲方委托人
			 
			 document.getElementById("phone1").value = arr[2];//甲方电话
			 document.getElementById("fax1").value = arr[3];//甲方传真
			  
			 document.getElementById("taxcode1").value = arr[5];//甲方税号
			 document.getElementById("account1").value = arr[6];//甲方账号
			 document.getElementById("bankname1").value = arr[7];//甲方开户行
			 document.getElementById("zipcode1").value = arr[8];//甲方邮编
			/*  if(theString == "销售人员")
			{
				 $('#firstparty option:selected').text($('#temp').val());
				 $('#firstparty option:selected').val($('#temp').val());
				// document.getElementById("firstparty").value = $('#temp').val();
			}else{
				
			} */
		
		});
		$("select#secondparty").change(function() {
			 var theString = $('#secondparty option:selected').attr('id');//选中的文本
			 var arr=theString.split("|");
			 if(arr[0] == $('#firstparty option:selected').val()){
				 alert('甲方与乙方不能相同');
				 document.getElementById("secondaddress").value = '';//乙方法人代表
				 document.getElementById("legal2").value = '';//乙方法人
				 document.getElementById("column32").value = '';//乙方委托人
				 
				 document.getElementById("phone2").value = '';//乙方电话
				 document.getElementById("fax2").value = '';//乙方传真
				  
				 document.getElementById("taxcode2").value = '';//乙方税号
				 document.getElementById("account2").value = '';//乙方账号
				 document.getElementById("bankname2").value = '';//乙方开户行
				 document.getElementById("zipcode2").value = '';//乙方邮编
				 return
			 }
			 $('#secondparty option:selected').text(arr[0]);
			 document.getElementById("secondaddress").value = arr[9];//乙方法人代表
			 document.getElementById("legal2").value = arr[1];//乙方法人
			 document.getElementById("column32").value = arr[4];//乙方委托人
			 
			 document.getElementById("phone2").value = arr[2];//乙方电话
			 document.getElementById("fax2").value = arr[3];//乙方传真
			  
			 document.getElementById("taxcode2").value = arr[5];//乙方税号
			 document.getElementById("account2").value = arr[6];//乙方账号
			 document.getElementById("bankname2").value = arr[7];//乙方开户行
			 document.getElementById("zipcode2").value = arr[8];//乙方邮编
			
			
		});
		
		$("#cnt").change(function(){
			
			if($("#cnt").val() != "" && $("#price").val() != "")
		    {
				if($("#unit").val()=="2"){
					
					$("#amount").val($("#cnt").val()*$("#price").val() * 1000);
				}
				if($("#unit").val()=="1"){
					
					$("#amount").val($("#cnt").val()*$("#price").val());
				}
			}
			
		});
		
		 $("#unit").change(function(){
	        	
	        	if($("#cnt").val() != "" && $("#price").val() != "")
			    {
					if($("#unit").val()=="2"){
						
						$("#amount").val($("#cnt").val()*$("#price").val() * 1000);
					}
					if($("#unit").val()=="1"){
						
						$("#amount").val($("#cnt").val()*$("#price").val());
					}
				}
		});
		
        $("#price").change(function(){
        	if($("#cnt").val() != "" && $("#price").val() != "")
		    {
				if($("#unit").val()=="2"){
					
					$("#amount").val($("#cnt").val()*$("#price").val() * 1000);
				}
				if($("#unit").val()=="1"){
					
					$("#amount").val($("#cnt").val()*$("#price").val());
				}
			}
		});
    </script>
    <script type="text/javascript">
		var prefix = ctx + "sale/contract"

    	$("#form-contract-add").validate({
			rules : {
				name:{
					required:true,
					minlength:0,
					maxlength:255
				},
				codeid:{
					required:true,
					minlength:0,
					maxlength:50,
		        	remote: {
		                url: prefix + "/checkCodeUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                    codeid : function() {
		                        return $.trim($("#codeid").val());
		                    }
		                },
		                dataFilter: function(data, type) {
		                	if (data == "0") return true;
		                    else return false;
		                }
					}
				},
				firstparty:{
					required:true,
					minlength:0,
					maxlength:100
				},
				secondparty:{
					required:true,
					minlength:0,
					maxlength:100
				},
				position:{
					required:true,
					minlength:0,
					maxlength:20
				},
				type:{
					required:true,
					digits:true,
				},
				category:{
					required:true,
					digits:true,
				},
				status:{
					required:true,
					digits:true,
				},
				firstaddress:{
					required:true,
					minlength:0,
					maxlength:100
				},
				secondaddress:{
					required:true,
					minlength:0,
					maxlength:100
				},
				productid:{
					required:true,
					//digits:true,
				},
				standard:{
					required:true,
					minlength:0,
					maxlength:50
				},
				cnt:{
					required:true,
					digits:true,
				},
				unit:{
					required:true,
					//digits:true,
					number:true
				},
				price:{
					required:true,
					number:true,
					minlength:0,
					maxlength:18
				},
				amount:{
					required:true,
					number:true,
					minlength:0,
					maxlength:18
				},
				payterm:{
					required:true,
					minlength:0,
					maxlength:200
				},
				legal1:{
					required:true,
					minlength:0,
					maxlength:30
				},
				client:{
					required:true,
					minlength:0,
					maxlength:10
				},
				bankname1:{
					required:true,
					minlength:0,
					maxlength:50
				},
				phone1:{
					required:true,
					minlength:0,
					maxlength:20
				},
				fax1:{
					required:true,
					minlength:0,
					maxlength:20
				},
				account1:{
					required:true,
					minlength:0,
					maxlength:50
				},
				taxcode1:{
					required:true,
					minlength:0,
					maxlength:50
				},
				zipcode1:{
					required:true,
					minlength:0,
					maxlength:10
				},
				legal2:{
					required:true,
					minlength:0,
					maxlength:30
				},
				bankname2:{
					required:true,
					minlength:0,
					maxlength:50
				},
				phone2:{
					required:true,
					minlength:0,
					maxlength:20
				},
				fax2:{
					required:true,
					minlength:0,
					maxlength:20
				},
				account2:{
					required:true,
					minlength:0,
					maxlength:50
				},
				taxcode2:{
					required:true,
					minlength:0,
					maxlength:50
				},
				zipcode2:{
					required:true,
					minlength:0,
					maxlength:10
				},
				other:{
					required:true,
					minlength:0,
					maxlength:500
				},
				filename:{
					required:true,
					minlength:0,
					maxlength:100
				},
				remark:{
//					required:true,
					minlength:0,
					maxlength:255
				},
			},	
			messages: {
		        "codeid": {
		        	remote: "合同编号已经存在"
		        },
			},
		    focusCleanup: true
		});
		
     	function submitHandler() {
        	if ($.validate.form()) {
             $.operate.save(prefix + "/add", $('#form-contract-add').serialize());
        	}
     	}
	</script>
</body>
</html>