<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head>
<th:block th:include="include :: header('工艺匹配')" />
</head>
<body class="gray-bg">

	<form class="form-horizontal m" id="form-product-add"
		target="hidden_frame" th:object="${technology1}">

		<!--<input
        type="hidden" id="url" th:value="${url}">
    <input
        type="hidden" id="tbloptag" th:field="*{optag}">
    <input
        type="hidden" id="tblstatus" th:field="*{status}">
    <input
        type="hidden" id="tblobject" th:object="${technology1}">
        <input
        type="hidden" id="tbldispatchOptag" th:value="${dispatchOptag}">
        <input
        type="hidden" id="dispatchID" th:value="${dispatchID}">  -->

		<div>
			<div class="form-group">
				<label class="col-sm-2 control-label" style="text-align: right;">调度单号：</label>
				<div class="col-sm-9">
					<input id="dispatchid" name="dispatchid" class="form-control"
						type="text" th:field="*{dispatchid}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" style="text-align: right;">品名：</label>
				<div class="col-sm-9">
					<input id="pdname" name="pdname" class="form-control" type="text"
						th:field="*{pdname}">
				</div>
			</div>
			<!--         <div class="form-group"> -->
			<!--             <label class="col-sm-2 control-label" style="text-align: right;">客户：</label> -->
			<!--             <div class="col-sm-9"> -->
			<!--                 <input id="customer" name="customer" class="form-control" type="text" -->
			<!--                        th:field="*{customer}"> -->
			<!--             </div> -->
			<!--         </div> -->
			<div class="form-group">
				<label class="col-sm-2 control-label" style="text-align: right;">生产线：</label>
				<div class="col-sm-9">
					<input id="pdlineid" name="pdlineid" class="form-control"
						type="text" th:field="*{pdlineid}">
				</div>
			</div>
			<!--  <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align:right;">客户：</label>
            <div class="col-sm-8">
                <input id="optime" name="optime" class="form-control" type="text" th:field="*{pdlineid}">
            </div>
        </div> -->
			<div class="form-group">
				<label class="col-sm-2 control-label" style="text-align: right;">客户质量标准ID：</label>
				<div class="col-sm-9">
					<input id="qulityid" name="qulityid" class="form-control"
						type="text" th:field="*{qulityid}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" style="text-align: right;">客户质量要求：</label>
				<div class="col-sm-9">
					<!-- <input id="optime" name="optime" class="form-control" type="text" th:field="*{qulity}"> -->
					<textarea id="qulity" name="qulity" class="form-control" rows="5"
						th:field="*{qulity}"></textarea>
				</div>
			</div>

			<div>
				<div class="form-group" id=falseression style="display: none;">
					<label class="col-sm-2 control-label" style="text-align: right;">退审原因：</label>
					<div class="col-sm-9">
						<!-- <input id="ression" name="ression" class="form-control" type="text" th:field="*{ression}"> -->
						<textarea id="auditcomment" name="auditcomment"
							class="form-control" rows="5" th:field="*{auditcomment}"></textarea>
					</div>
				</div>
			</div>

		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" style="text-align: right;">工艺编号：</label>
			<div class="col-sm-9">
				<input id="totaltechnologysn" name="totaltechnologysn"
					class="form-control" type="text" th:field="*{totaltechnologysn}">
			</div>
			<!-- <button id="confirmButton" onclick="submitPretreat();"
            class=" col-sm-1 btn btn-primary">详情</button> -->
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" style="visibility: hidden;">xxxx</label>
			<div class="col-sm-9">
				<div class="select-info">
					<table id="bootstrap-table-pretreat" class="table table-bordered"
						data-mobile-responsive="true" data-height="300"></table>
				</div>
			</div>
			<!-- <label class="col-sm-2 control-label" style="visibility: hidden;">xxxx</label> -->
		</div>
		<div class="form-group">
			<div
				th:if="${technology1.pdname != null && technology1.pdname != ''}">
				<div class="form-control-static col-sm-offset-9">

					<button id="confirmButton" onclick="submitRession();"
						class="btn btn-primary">确认匹配</button>
					<button onclick="$.modal.close()" class="btn btn-danger"
						type="button">关闭</button>
				</div>
			</div>
		</div>
	</form>
	<form class="form-horizontal m" id="form-technology-hidden"
		th:object="${technology1}" style="display: none">
		<input id="id" name="id" th:field="*{id}" type="hidden">
		<div class="form-group">
			<label class="col-sm-3 control-label">生产调度单号：</label>
			<div class="col-sm-8">
				<input id="dispatchid1" name="dispatchid" th:field="*{dispatchid}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">生产线号：</label>
			<div class="col-sm-8">
				<input id="pdlineid1" name="pdlineid" th:field="*{pdlineid}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">品名：</label>
			<div class="col-sm-8">
				<input id="pdname1" name="pdname" th:field="*{pdname}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" style="text-align: right;">客户：</label>
			<div class="col-sm-9">
				<input id="customer1" name="customer" class="form-control"
					type="text" th:field="*{customer}">
			</div>
		</div>
		<!-- <div class="form-group">
        <label class="col-sm-2 control-label" style="text-align: right;">客户质量标准ID：</label>
        <div class="col-sm-9">
            <input id="qulityid1" name="qulityid" class="form-control" type="text"
                th:field="*{qulityid}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" style="text-align: right;">客户质量要求：</label>
        <div class="col-sm-9">
            <input id="optime" name="optime" class="form-control" type="text" th:field="*{qulity}">
            <textarea id="qulity1" name="qulity" class="form-control" rows="5"
                th:field="*{qulity}"></textarea>
        </div>
    </div> -->
		<div class="form-group">
			<label class="col-sm-3 control-label">生产重量KG：</label>
			<div class="col-sm-8">
				<input id="actualweight1" name="actualweight"
					th:field="*{actualweight}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">操作标记：</label>
			<div class="col-sm-8">
				<input id="optag1" name="optag" th:field="*{optag}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">关联生产订单号：</label>
			<div class="col-sm-8">
				<input id="boundpdorderid1" name="boundpdorderid"
					th:field="*{boundpdorderid}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">排序序号：</label>
			<div class="col-sm-8">
				<input id="sortnum1" name="sortnum" th:field="*{sortnum}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">调度单单号：</label>
			<div class="col-sm-8">
				<input id="sortid1" name="sortid" th:field="*{sortid}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">订单类别：</label>
			<div class="col-sm-8">
				<input id="distype1" name="distype" th:field="*{distype}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">计划开始时间：</label>
			<div class="col-sm-8">
				<input id="begintime1" name="begintime" th:field="*{begintime}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">计划结束时间：</label>
			<div class="col-sm-8">
				<input id="endtime1" name="endtime" th:field="*{endtime}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">生产时间：</label>
			<div class="col-sm-8">
				<input id="pdperiod1" name="pdperiod" th:field="*{pdperiod}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">停车开始时间：</label>
			<div class="col-sm-8">
				<input id="stopbegintime1" name="stopbegintime"
					th:field="*{stopbegintime}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">停车结束时间：</label>
			<div class="col-sm-8">
				<input id="stopendtime1" name="stopendtime"
					th:field="*{stopendtime}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">预计停车时间：</label>
			<div class="col-sm-8">
				<input id="planstoptime1" name="planstoptime"
					th:field="*{planstoptime}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">审核状态：</label>
			<div class="col-sm-8">
				<input id="auditflag1" name="auditflag" th:field="*{auditflag}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">退审理由：</label>
			<div class="col-sm-8">
				<input id="ression1" name="ression" th:field="*{ression}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">生产进度状态：</label>
			<div class="col-sm-8">
				<input id="pdstatus1" name="pdstatus" th:field="*{pdstatus}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">生产进度%：</label>
			<div class="col-sm-8">
				<input id="pdrate1" name="pdrate" th:field="*{pdrate}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">工艺编号：</label>
			<div class="col-sm-8">
				<input id="totaltechnologysn1" name="totaltechnologysn"
					th:field="*{totaltechnologysn}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">开清编号：</label>
			<div class="col-sm-8">
				<input id="pretreat1" name="pretreat" th:field="*{pretreat}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">梳理编号：</label>
			<div class="col-sm-8">
				<input id="preparation1" name="preparation"
					th:field="*{preparation}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">水刺编号：</label>
			<div class="col-sm-8">
				<input id="filature1" name="filature" th:field="*{filature}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">卷绕编号：</label>
			<div class="col-sm-8">
				<input id="finaltreat1" name="finaltreat" th:field="*{finaltreat}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">质量编号：</label>
			<div class="col-sm-8">
				<input id="qualitysn1" name="qualitysn" th:field="*{qualitysn}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">制表人：</label>
			<div class="col-sm-8">
				<input id="creator1" name="creator" th:field="*{creator}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">制表时间：</label>
			<div class="col-sm-8">
				<input id="crttime1" name="crttime" th:field="*{crttime}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">修改人：</label>
			<div class="col-sm-8">
				<input id="changer1" name="changer" th:field="*{changer}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">修改时间：</label>
			<div class="col-sm-8">
				<input id="chgtime1" name="chgtime" th:field="*{chgtime}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">修改意见：</label>
			<div class="col-sm-8">
				<input id="chgcomment1" name="chgcomment" th:field="*{chgcomment}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">审核人：</label>
			<div class="col-sm-8">
				<input id="auditor1" name="auditor" th:field="*{auditor}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">审核时间：</label>
			<div class="col-sm-8">
				<input id="audittime1" name="audittime" th:field="*{audittime}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">审核意见：</label>
			<div class="col-sm-8">
				<input id="auditcomment1" name="auditcomment"
					th:field="*{auditcomment}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">状态：</label>
			<div class="col-sm-8">
				<input id="status1" name="status" th:field="*{status}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">备注：</label>
			<div class="col-sm-8">
				<input id="remark1" name="remark" th:field="*{remark}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">状态：</label>
			<div class="col-sm-8">
				<input id="transflag1" name="transflag" th:field="*{transflag}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">：</label>
			<div class="col-sm-8">
				<input id="qulityid1" name="qulityid" th:field="*{qulityid}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">：</label>
			<div class="col-sm-8">
				<input id="qulity1" name="qulity" th:field="*{qulity}"
					class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<div class="form-control-static col-sm-offset-9">
				<button type="submit" class="btn btn-primary">提交</button>
				<button onclick="$.modal.close()" class="btn btn-danger"
					type="button">关闭</button>
			</div>
		</div>
	</form>
	<div th:include="include::footer"></div>
	<iframe name='hidden_frame' id="hidden_frame" style="display: none"></iframe>
	<script type="text/javascript">
    function check()
    {
        var aa = document.getElementById("chgcomment").value;
        if (aa=="")
        {
            return true;
        }else{
            return false;
        }
    }
    if ($('#tblId').val() == 0) {

        document.getElementById("confirmButton").style.display = "none";
    }

    if ($('#tbloptag').val() == 3 && $('#tblstatus').val() == 6) {

        document.getElementById("falseression").style.display = "block";
    }

    function submitQuality() {
        var id = document.getElementById('qualitysn').value;

        var url2 = ctx + "module/technology" + "/submitQuality/" + id;

        openTechnologyDetail("工艺质量详情", url2, 800, 800);

    }
    function submitPretreat() {
        var id = document.getElementById('pretreat').value;
        var url2 = ctx + "module/technology" + "/submitPretreat/" + id;

        openTechnologyDetail("工艺详情", url2, 800, 800);

    }
    function submitComb() {
        var id = document.getElementById('preparation').value;
        var url2 = ctx + "module/technology" + "/submitPreparation/" + id;

        openTechnologyDetail("工艺详情", url2, 800, 800);

    }
    function submitfilature() {
        var id = document.getElementById('filature').value;
        var url2 = ctx + "module/technology" + "/submitFilature/" + id;

        openTechnologyDetail("工艺详情", url2, 800, 800);

    }
    function submitWind() {
        var id = document.getElementById('finaltreat').value;
        var url2 = ctx + "module/technology" + "/submitFinaltreat/" + id;

        openTechnologyDetail("工艺详情", url2, 800, 800);

    }
    function openTechnologyDetail(title, url, width, height) {
        layer.open({
            id : 'addMacode1',
            type : 2,
            area : [ width + "px", height + "px" ],
            fix : false,
            maxmin : true,
            shade : 0.3,
            title : title,
            content : url,
            end : function() {//layer.open关闭事件关闭事件

                //alert("页面关闭");
                // var	param={};
                //  param["status"] = 4;
                //  _bootstrap_search_tablename("#bootstrap-table",param);
            }
        })
    }

    function submitRession() {
        /* var qualitysn = $('#qualitysn').val();
        var pretreat = $('#pretreat').val();
        var preparation = $('#preparation').val();
        var filature = $('#filature').val();
        var finaltreat = $('#finaltreat').val();
        var dispatchid = $('#dispatchid').val();
        var technology = $('#tblobject');
        var dispatchOptag = $('#tbldispatchOptag').val();
        var dispatchID = $('#dispatchID').val()

        var chgcomment = $('#chgcomment').val();   */

        $.modal.confirm("确认提交工艺匹配结果？",
            function() {
                var url = ctx + "module/technology" + "/confirmMatch";
                $.ajax({
                    type: 'post',
                    url: url,
                    data: $('#form-technology-hidden').serialize(),

                    success: function(data) {

                        parent.location.reload();
                        $.modal.close();
                    }
                });
            })
    }

    function adjax_post(url, data, type) {
        var config = {
            url : url,
            type : type,
            dataType : "json",
            data : data,
            async : false,
            success : function(result) {
                simpleSuccess(result);
            }
        };
        $.ajax(config)
    };
    /** 返回结果处理 */
    function simpleSuccess(result) {
        if (result.code == web_status.SUCCESS) {
            $.modal.alert(result.msg, modal_status.SUCCESS);
            $.modal.close();
        } else {
            $.modal.alert(result.msg, modal_status.FAIL);
        }
    }
</script>

	<script>
    $(function() {
        var prefix = ctx + "module/technology";
        var qureyOpeningOptions = {
            url : prefix + "/qureyTotalTechnology",//
            modalName : "工艺列表",
            search : false,
            showRefresh : false,
            download : false,
            showExport : false,
            showToggle : false,
            showColumns : false,
            columns: [{
                checkbox: true
            },
                {
                    field : 'id',
                    title : '序号',
                    visible : false
                },
                {
                    field : 'totaltechnologysn',
                    title : '工艺编号'
                },
                {
                    field : 'pdlineid',
                    title : '生产线号'
                },
                {
                    field : 'customer',
                    title : '客户'
                },
                {
                    field : 'pdname',
                    title : '品名'
                },
                {
                    field : 'qulityid',
                    title : '质量标准ID',
                    visible : false
                },
                {
                    field : 'qulity',
                    title : '质量描述',
                    visible : false
                },
                {
                    field : 'windspeed',
                    title : '卷绕速度m/min'
                },
                {
                    field : 'optag',
                    title : '操作标记',
                    visible : false
                },
                {
                    field : 'auditflag',
                    title : '审核状态',
                    visible : false
                },
                {
                    field : 'ression',
                    title : '退审理由' ,
                    visible : false
                },
                {
                    field : 'pretreat',
                    title : '预处理编号',
                    visible : false
                },
                {
                    field : 'preparation',
                    title : '制备编号',
                    visible : false
                },
                {
                    field : 'filature',
                    title : '纺丝编号',
                    visible : false
                },
                {
                    field : 'finaltreat',
                    title : '后处理编号',
                    visible : false
                },
                {
                    field : 'qualitysn',
                    title : '质量编号',
                    visible : false
                },
                {
                    field : 'creator',
                    title : '制表人',
                    visible : false
                },
                {
                    field : 'crttime',
                    title : '制表时间',
                    visible : false
                },
                {
                    field : 'changer',
                    title : '修改人',
                    visible : false
                },
                {
                    field : 'chgtime',
                    title : '修改时间',
                    visible : false
                },
                {
                    field : 'chgcomment',
                    title : '修改意见',
                    visible : false
                },
                {
                    field : 'auditor',
                    title : '审核人',
                    visible : false
                },
                {
                    field : 'audittime',
                    title : '审核时间',
                    visible : false
                },
                {
                    field : 'auditcomment',
                    title : '审核意见',
                    visible : false
                },
                {
                    field : 'status',
                    title : '状态' ,
                    formatter : function(value, row, index) {
                        $('#status6').val(value);
                        var b = _ajax_dict('tbl_technology_status', value.trim());
                        return b;
                    } ,
                    visible : false
                },
                {
                    field : 'remark',
                    title : '备注',
                    visible : false
                },
                {
                    field : 'transflag',
                    title : '传输标志' ,
                    visible : false
                },
                {
                    title : '操作',
                    align : 'center',
                    formatter : function(value, row, index) {
                        var actions = [];
                        actions
                            .push('<a class="btn btn-success btn-xs"  onclick="detail(\''
                                + row.id
                                + '\')"><i class="fa fa-edit"></i>详情</a> ');
                        var par = row.pdname+"_"+row.pdlineid+"_"+row.customer+"_"+row.qulityid+"_"+row.qulity+"_"+row.totaltechnologysn;
                        actions
                            .push('<a class="btn btn-success btn-xs"  onclick="useOpenTechnology(\''
                                + par
                                + '\')"><i class="fa fa-edit"></i>使用</a> ');
                        /* actions
                        .push('<a class="btn btn-success btn-xs"  onclick="updateTechnology(\''
                                + row.id
                                + "_开清"
                                + '\')"><i class="fa fa-edit"></i>修改</a> ');*/
                        return actions.join('');

                    }
                } ]
        };
        //$.table.init(options);

        _bootstrap_show(qureyOpeningOptions, "bootstrap-table-pretreat");
        var param = {};
        param["status"] = 6;
        if(document.getElementById("customer").value == '' || document.getElementById("customer").value == null ||  document.getElementById("pdname").value == null ||  document.getElementById("pdname").value == '' ){
            param["customer"] = "xxxxx";
            param["pdname"] = "xxxxx";
            $.modal.alertWarning("未匹配到工艺信息");
        }else{
            param["customer"] = document.getElementById("customer").value;
            param["pdname"] = document.getElementById("pdname").value;
        }
        //param["qulityid"] = document.getElementById("qulityid").value;
        /*

         */
        _bootstrap_search_tablename("#bootstrap-table-pretreat", param);
    });



    function detail(id) {
        var url2 = ctx + "module/totaltechnology" + "/detail/" + id;
        openTechnologyDetail("工艺详情", url2, 800, 800);
    }

    function useOpenTechnology(par) {
        $.modal.confirm("是否使用所选择的工艺？", function() {
            var arr=par.split("_");
            console.log("数据长度:"+arr.length);
            if(arr.length == 6){
                $('#pdname').val(arr[0]);
                $('#pdlineid').val(arr[1]);
                $('#customer').val(arr[2]);
                $('#qulityid').val(arr[3]);
                $('#qulity').val(arr[4]);
                $('#totaltechnologysn').val(arr[5]);

                $('#pdname1').val(arr[0]);
                $('#pdlineid1').val(arr[1]);
                $('#customer1').val(arr[2]);
                $('#qulityid1').val(arr[3]);
                $('#qulity1').val(arr[4]);
                $('#totaltechnologysn1').val(arr[5]);
            }else{
                $.modal.confirm("工艺信息不完整");
            }
        })
        /* $.modal.confirm("是否使用所选择的工艺？", function() {
            $('#totaltechnologysn').val(pretreat);
            $('#totaltechnologysn1').val(pretreat);

        }) */
    }

    function updateTechnology(id) {
        $.modal.confirm("是否在此工艺基础上，修改数据，并新增一条工艺数据？", function() {
            var strs = new Array();
            strs = id.split("_");
            id = strs[0];
            if (strs[1] == "预处理") {
                var url2 = ctx + "module/filature" + "/updateTechnology/" + id;

                openTechnologyDetail("新增水刺工艺", url2, 800, 800);
            }
            if (strs[1] == "制备") {
                var url2 = ctx + "module/opening" + "/updateTechnology/" + id;

                openTechnologyDetail("新增开清工艺", url2, 800, 800);
            }
            if (strs[1] == "纺丝") {
                var url2 = ctx + "module/comb" + "/updateTechnology/" + id;

                openTechnologyDetail("新增梳理工艺", url2, 800, 800);
            }
            if (strs[1] == "后处理") {
                var url2 = ctx + "module/wind" + "/updateTechnology/" + id;

                openTechnologyDetail("新增卷绕工艺", url2, 800, 800);
            }

        })
    }

    function openTechnologyDetail(title, url, width, height) {

        layer.open({
            id : 'addMacode',
            type : 2,
            area : [ width + "px", height + "px" ],
            fix : false,
            maxmin : true,
            shade : 0.3,
            title : title,
            content : url,
            end : function() {
                //layer.open关闭事件关闭事件

            }
        })
    }
</script>
</body>
</html>